.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

**/obj
**/bin
TCC-App/dist/TCC-App/fa-brands-400.eot
TCC-App/dist/TCC-App/fa-brands-400.svg
TCC-App/dist/TCC-App/fa-brands-400.ttf
TCC-App/dist/TCC-App/fa-brands-400.woff
TCC-App/dist/TCC-App/fa-brands-400.woff2
TCC-App/dist/TCC-App/fa-regular-400.eot
TCC-App/dist/TCC-App/fa-regular-400.svg
TCC-App/dist/TCC-App/fa-regular-400.ttf
TCC-App/dist/TCC-App/fa-regular-400.woff
TCC-App/dist/TCC-App/fa-regular-400.woff2
TCC-App/dist/TCC-App/fa-solid-900.eot
TCC-App/dist/TCC-App/fa-solid-900.svg
TCC-App/dist/TCC-App/fa-solid-900.ttf
TCC-App/dist/TCC-App/fa-solid-900.woff
TCC-App/dist/TCC-App/fa-solid-900.woff2
TCC-App/dist/TCC-App/favicon.ico
TCC-App/dist/TCC-App/index.html
TCC-App/dist/TCC-App/main-es5.js
TCC-App/dist/TCC-App/main-es5.js.map
TCC-App/dist/TCC-App/main-es2015.js
TCC-App/dist/TCC-App/main-es2015.js.map
TCC-App/dist/TCC-App/polyfills-es5.js
TCC-App/dist/TCC-App/polyfills-es5.js.map
TCC-App/dist/TCC-App/polyfills-es2015.js
TCC-App/dist/TCC-App/polyfills-es2015.js.map
TCC-App/dist/TCC-App/runtime-es5.js
TCC-App/dist/TCC-App/runtime-es5.js.map
TCC-App/dist/TCC-App/runtime-es2015.js
TCC-App/dist/TCC-App/runtime-es2015.js.map
TCC-App/dist/TCC-App/styles-es5.js
TCC-App/dist/TCC-App/styles-es5.js.map
TCC-App/dist/TCC-App/styles-es2015.js
TCC-App/dist/TCC-App/styles-es2015.js.map
TCC-App/dist/TCC-App/vendor-es5.js
TCC-App/dist/TCC-App/vendor-es5.js.map
TCC-App/dist/TCC-App/vendor-es2015.js
TCC-App/dist/TCC-App/vendor-es2015.js.map
package-lock.json
.vscode/launch.json
.vscode/tasks.json
.vs/TCC/DesignTimeBuild/.dtbcache
.vs/TCC/v16/.suo
.vs/TCC/v16/Server/sqlite3/storage.ide
TCC-App/package-lock.json
TCC-App/package-lock.json
TCC-App/package-lock.json
TCC-App/package.json
