<div class="form-inline">
  <div class="form-group mb-2">
    Filtro :<input type="text" 
    class="form-control mr-2" 
    placeholder="Buscar"
    [(ngModel)]= "filtroLista">
    <button class="btn bt-outline success">Buscar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Senha</th>
    </tr>
  </thead>
  <tbody *ngIf="login && login.length">
    <tr *ngFor="let login of loginFiltrados"> 
      <td>{{login.loginId}}</td>
      <td>{{login.email}}</td>
      <td>{{login.senha}}</td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!login.length">
    <tr>
      <td colspan="3" class="text-center">
        <h4>
          Nenhum login encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>