.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-success {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}