
<nav class="navbar navbar-expand-md" style="background-color: #00afef;" *ngIf="showMenu()">
  <div class="container" style="max-width: 100%!important;">
    <a class="navbar-brand" style="color: white;" routerLink="consultas">Simulate Quiz</a>

    <div *ngIf="loggedIn()" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" style="color: white;" routerLink="consultas">Consultas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" style="color: white;" routerLink="resultados">Resultados</a>
        </li>
      </ul>
    </div>

    <ul *ngIf="loggedIn()" class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="cursor: pointer; text-transform: capitalize; color: white;">
          {{userName()}}
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer">
            Sair
          </a>
        </div>
      </li>
    </ul>

    <button *ngIf="!loggedIn()" class="btn btn-success" (click)="entrar()">Entrar</button>

  </div>
</nav>