.btn-success {
    color: #fff!important;
    background-color: #007bff!important;
    border-color: #007bff!important;
}

.btn-success:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}