<app-titulo [titulo]="titulo"></app-titulo>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-8" id="imagemConsulta">
      <img src="assets/img/consultaTeste.jpg">
      <legend style="width: 400px;"> {{ textoNaTela }} </legend>
    </div>
    <div class="col-md-4">
      <tabset>
        <tab heading="Perguntas">
          <div formArrayName="perguntaRespostas" *ngFor="let perguntaResposta of perguntaRespostas.controls; let i=index">
            <fieldset [formGroupName]="i" class="form-group">
              <legend class="d-flex justify-content-between capitalize" (click)="mostraResposta(i)" style="cursor: pointer;">
                {{ perguntaRespostas.get(i+'.pergunta').value === '' ?
                'Perguntas' :
                perguntaRespostas.get(i+'.pergunta').value
              }}
            </legend>
          </fieldset>
        </div>
      </tab>
      <tab heading="Exames">
        <div formArrayName="exames" *ngFor="let exame of exames.controls; let i=index">
          <fieldset [formGroupName]="i" class="form-group" (click)="mostrarExame(template, i)" style="cursor: pointer;">
            <legend class="d-flex justify-content-between capitalize">
              {{ exames.get(i+'.nome').value === '' ?
              'Exame: ' :
              exames.get(i+'.nome').value
            }}
          </legend>
        </fieldset>
      </div>
    </tab>
  </tabset>
</div>
</div>
</form>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Exame médico</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="imgExameEscolhido" [style.width.px]="imagemLargura" [style.height.px]="imagemMargem">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>