<app-titulo [titulo]="titulo"></app-titulo>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-8" style="max-width: 100%; display: flex;">
      <button class="btn btn-primary" style="margin: 5px;" (click)="dialogoAnt()"> Diálogo anterior </button>
      <button class="btn btn-primary" style="margin: 5px; margin-right: auto;" (click)="proxDialogo()"> Próximo diálogo </button>      
      <button class="btn btn-success" style="margin: 5px;" (click)="finalizar(confirm)"> Finalizar </button>
    </div>
    <div class="col-md-8" id="imagemConsulta">
      <img style="width: 100%;" src="assets/img/consultaTeste.jpg">
      <legend> {{ textoNaTela }} </legend>
    </div>
    <div class="col-md-4" style="max-height: 100%;">
      <tabset>
        <tab heading="Perguntas">
          <div class="alignTab">
            <table class="table">
              <tbody>
                <tr style="color: blue; text-decoration: underline; cursor: pointer;"  *ngFor="let perguntaResposta of resultado.perguntaRespostasResultados"
                  [ngStyle]="perguntaResposta.selecionada ?{'color': 'gray','font-style': 'italic'} : {}">
                  <td (click)="mostraResposta(perguntaResposta.id)">{{perguntaResposta.pergunta}}</td>
                </tr>
              </tbody>
            </table>
            <b style="font-size: small;">Quantidade máxima de perguntas: {{qtdeMaxPerguntas}} </b>
          </div>
        </tab>
        <tab heading="Exames">
          <div class="alignTab" style="height: 100%;">
            <table class="table">
              <tbody>
                <tr style="color: blue; text-decoration: underline; cursor: pointer;"  *ngFor="let exame of resultado.exameResultados"
                  [ngStyle]="exame.selecionada ?{'color': 'gray','font-style': 'italic'} : {}">
                  <td (click)="mostrarExame(template, exame.id)">{{exame.nome}}</td>
                </tr>
              </tbody>
            </table>
            <b style="font-size: small;">Quantidade máxima de exames: {{qtdeMaxExames}} </b>
          </div>
        </tab>        
      </tabset>
    </div>
  </div>
</form>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Exame médico</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="imgExameEscolhido" style="width: 100%;">
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Finalizar simulação
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyConfirmarFinalizacao}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CENCELAR
        </button>
        <button type="button" class="btn btn-outline-success" (click)="confirmFinalizar(confirm)">
          FINALIZAR
        </button>
      </div>
    </div>
  </div>
</div>