<app-titulo [titulo]="titulo"></app-titulo>

<body class="text-center" data-gr-c-s-loaded="true">
  <form class="form-student" [formGroup]="registerForm">
    <img class="mb-4" src="assets/icons/logoProjeto.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Simulate Quiz</h1>
    <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('coigoConsulta').errors
              && registerForm.get('coigoConsulta').touched}" formControlName="coigoConsulta"
      placeholder="Código da simulação">
    <div *ngIf="registerForm.get('coigoConsulta').hasError('required')
              && registerForm.get('coigoConsulta').touched" class="invalid-feedback">
      O código da consulta é obrigatório
    </div>
    <div *ngIf="registerForm.get('coigoConsulta').hasError('maxlength')
            && registerForm.get('coigoConsulta').touched" class="invalid-feedback">
      Maximo 10 caracteres.
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="iniciarSimulacao()">Iniciar simulação</button>
  </form>

</body>